<!DOCTYPE html>
<html lang="en">
<!-- head  -->
<%- include('layouts/head'); -%>

	<body>
		<!-- include navbar  -->
		<%- include('layouts/nav'); -%>
			<!-- Page Header-->
			<header class="masthead" style="background-image: url('/assets/img/about-bg.jpg')">
				<div class="container position-relative px-4 px-lg-5">
					<div class="row gx-4 gx-lg-5 justify-content-center">
						<div class="col-md-10 col-lg-8 col-xl-7">
							<div class="page-heading">
								<h1>G Test Booking</h1>
							</div>
						</div>
					</div>
				</div>
			</header>
			<!-- Main Content-->
			<main class="mb-4">
				<div class="container">
					<div class="row">

						<h3>Book Slots For Book Appointment</span></h3>
						<form action="get-apt-g" method="GET">
							<label for="date">Select Date</label>
							<input id="date" type="date" name="s_date">
							<button class="btn btn-primary" type="submit">Get Dates</button>

						</form>
						<!--  ass-4 send data to g page -->
						<% if(information){ %>
							<table class="table table-striped mb-4">
								<thead>
									<th>First</th>
									<th>Last Name</th>
									<th>DOB</th>
									<th>Age</th>
								</thead>
								<tbody>
									<tr>
										<td>
											<%= information.fname %>
										</td>
										<td>
											<%= information.lname %>
										</td>
										<td>
											<%= information.dob %>
										</td>
										<td>
											<%= information.age %>
										</td>
									</tr>
								</tbody>



							</table>

							<h5>Driving Information</h5>
							<table class="table table-striped">
								<thead>
									<th>Make</th>
									<th>Model</th>
									<th>Year</th>
									<th>License</th>
									<th>Plate Number</th>
								</thead>
								<tbody>
									<tr>
										<td>
											<%= information.make %>
										</td>
										<td>
											<%= information.model %>
										</td>
										<td>
											<%= information.year %>
										</td>
										<td>
											<%= information.lc %>
										</td>
										<td>
											<%= information.pnumber %>
										</td>
									</tr>
								</tbody>

							</table>
						<% } %>


						<!-- <form action="/data/show" method="GET">
							<div class="form-group">
								<label for="lcnumber">Enter Your License Number </label>
								<input required type="text" class="form-control" id="lcnumber" placeholder="Enter Name"
									name="lc">
							</div>
							<button type="submit" class="btn btn-primary mt-2">Search</button>
						</form> -->
						<% if(typeof blogposts !='undefined' ){
							if(blogposts==null ){ %>
							<span class="mt-2 mb-2" style="color:red"> User Not Found ! </span>

							<% } else{ %>
								<%- include('layouts/data'); -%>
									<% } } %>

					</div>
				</div>
			</main>
			<!-- Footer-->
			<%- include ('layouts/footer'); -%>
				<!-- scripts  -->
				<%- include('layouts/scripts'); -%>



	</body>

</html>
