<!DOCTYPE html>
<html lang="en">
<!-- head  -->
<%- include('layouts/head'); -%>

	<body>
		<!-- include navbar  -->
		<%- include('layouts/nav'); -%>
			<!-- Page Header-->
			<header class="masthead" style="background-image: url('/assets/img/about-bg.jpg')">
				<div class="container position-relative px-4 px-lg-5">
					<div class="row gx-4 gx-lg-5 justify-content-center">
						<div class="col-md-10 col-lg-8 col-xl-7">
							<div class="page-heading">
								<h1>Hello <%= sss.fname %></h1>
							</div>
						</div>
					</div>
				</div>
			</header>
			<!-- Main Content-->
			<main class="mb-4">
				<div class="container">
					<div class="row">


						<!--  ass-4 send data to g page -->

							<table class="table table-striped mb-4">
								<thead>
									<th>First Name</th>
									<th>Last Name</th>
									<th>Model</th>
									<th>Licence</th>
								</thead>
								<tbody>
									<tr>
										<td>
											<%= sss.fname %>
										</td>
										<td>
											<%= sss.lname %>
										</td>
										<td>
											<%= sss.model %>
										</td>
										<td>
											<%= sss.lc %>
										</td>
									</tr>
								</tbody>



							</table>

							<h5>Results</h5>
							<table class="table table-striped mb-4">
								<thead>
									<th>Comments</th>
									<th>Results</th>

								</thead>
								<tbody>
									<tr>
										<td>
											<% if(user.comment){
												%>
												<%= user.comment %>
												<%} else { %>
													COmments not given yet
													<%
												}
												%>
										</td>
										<td>
											<% if (user.result){
											%>
											Pass
											<%
											}else{
												%>
												Fail
												<%
											}
											 %>
										</td>

									</tr>
								</tbody>

							</table>






						<!-- <form action="/data/show" method="GET">
							<div class="form-group">
								<label for="lcnumber">Enter Your License Number </label>
								<input required type="text" class="form-control" id="lcnumber" placeholder="Enter Name"
									name="lc">
							</div>
							<button type="submit" class="btn btn-primary mt-2">Search</button>
						</form> -->
						<% if(typeof blogposts !='undefined' ){
							if(blogposts==null ){ %>
							<span class="mt-2 mb-2" style="color:red"> User Not Found ! </span>

							<% } else{ %>
								<%- include('layouts/data'); -%>
									<% } } %>

					</div>
				</div>
			</main>
			<!-- Footer-->
			<%- include ('layouts/footer'); -%>
				<!-- scripts  -->
				<%- include('layouts/scripts'); -%>



	</body>

</html>
